@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #021832;
  --secondary-color: #caa169;
  --bg-color: #f4f4f4;
  --bg-white: #fff;
  --bg-black: #000;

  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Oswald", sans-serif;
  --primary-text: #021832;
  --secondary-text: #caa169;
  --text-white: #fff;
  --text-black: #151515;
  --text-gray: #e4e4e4;
}

body {
  font-family: var(--primary-font);
  background-color: var(--bg-white);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.375rem;
}

::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

.main-btn {
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-color);
  text-transform: uppercase;
  background-color: transparent;
  border: 0.0625rem solid var(--primary-color);
  padding: 0.375rem 1.875rem;
  border-radius: 3.125rem;
  line-height: 1.75rem;
  display: inline-block;
  transition: all 0.3s ease-out 0s;
}
.card-body h3 {
  transition: transform 0.3s ease;
}

.card-body:hover h3 {
  transform: translateY(7px);
}
.main-btn:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--text-white);
}
.content > h3 {
  font: normal normal 600 44px/70px "Outfit";
  letter-spacing: 0px;
  color: #080d42;
  font-weight: 900 !important;
}
.content p {
  text-align: justify;
  color: #000000;
}

.card h3 {
  font: normal normal 600 "Outfit";
  color: #080d42;
}
h3 span {
  color: var(--secondary-text);
}

h6 {
  font-size: 0.875rem;
  color: var(--primary-text);
  margin-bottom: 0.9375rem;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--secondary-font);
}

.section-title:after {
  content: "";
  /* background-image: url("../images/title-icon.webp"); */
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  margin-top: -0.9375rem;
  height: 0.9375rem;
}

/* 2 Navbar */
.header-wrapper .navbar {
  padding: 0.9375rem 0;
  margin: 0;
  background-color: #1f0969;
  -webkit-box-shadow: 0 0.5rem 0.375rem -0.375rem rgb(0 0 0 / 40%);
  box-shadow: 0 0.5rem 0.375rem -0.375rem rgb(0 0 0 / 40%);
  -webkit-transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s,
    opacity 0s ease-in-out 0s;
  transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s,
    opacity 0s ease-in-out 0s;
}

.header-wrapper .navbar-toggler {
  border: 0;
  color: var(--primary-text);
  line-height: 2;
}

.header-wrapper .navbar-toggler:focus {
  box-shadow: none;
}
.font-set {
  color: #080d42;
  margin-top: -35px;
  font: normal normal 600 3rem/6rem "Outfit";
}
.header-wrapper .nav-item {
  margin: 0 0.625rem;
}

.header-wrapper .nav-item .nav-link {
  font: normal normal 600 13px/19px "Outfit";
  color: white;
  display: inline-block;
}

.header-wrapper .nav-item .nav-link {
  transition: color 0.3s ease, transform 0.3s ease; /* Add a smooth transition for color and transform */
}

.header-wrapper .nav-item .nav-link:hover {
  transform: translateY(
    -3px
  ); /* Adjust the value based on how much you want the text to raise */
}
.banner-wrapper {
  background-color: #1f0969;
  /* height: 0vh; */
  /* position: relative; */
  /* top: 0; */
  position: relative;
  text-align: center;
  /* color: #fff; */
  padding: 80px 0;
}

.banner-subtitle {
  color: #ffc427;
  font-size: 3.5rem !important;
  font-weight: 100;
  text-transform: uppercase;
}
.btn-join {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070 !important;
  border-radius: 4px !important;
  font: normal normal 600 11px/16px "Outfit" !important;
  letter-spacing: 0px;
  box-sizing: border-box;
  padding: 0.6rem 0.7rem !important;
  color: #000000;
}
.btn-join:hover {
  background-color: #ffc427 !important;
  border: none !important;
}
.accordion-item.open-accordion {
  border-left: 2px solid orange !important; /* Adjust the width and color as needed */
}
.accordion-item {
  border-left: 2px solid rgba(122, 121, 121, 0.505) !important;
  box-shadow: none !important;
}
.accordion-item:focus {
  box-shadow: none !important;
}
button.accordion-button {
  background: transparent !important;
  box-shadow: none !important;
}
button.accordion-button.collapsed::after {
  color: red !important;
}
.btn-contact {
  text-align: center;
  font: normal normal 600 11px/16px "Outfit" !important;
  letter-spacing: 0px;
  border-radius: 4px !important;
  color: #000000;
  padding: 0.6rem 0.7rem !important;
}
.btn-contact:hover {
  background: transparent !important;
  border: 1px solid #707070;
}
.fa-star {
  color: rgb(255, 204, 0);
}
.header-img-section {
  z-index: 2;
}
/* .header-img-section {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .header-img-section img {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px; 
} */
.pattern {
  opacity: 0.5;
  position: absolute;
  top: 0;
  /* left: 900px; */
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.arrow {
  width: 10rem;
  z-index: -8;
}
.banner-content {
  z-index: 999;
  position: relative;
  /* top: -30rem; */
}
/* 4 Client */
.our-partner-slider {
  /* padding: 3.125rem 0; */
  box-shadow: 0px 10px 50px #07070714;
  margin-bottom: 1rem;
  position: relative;
  top: -4rem;
}
.our-partner-slider img {
  height: 3.5rem;
  /* width: 4rem; */
  overflow: visible;
  width: 100%;
}
.top img {
  width: 110px;
  opacity: 0.3;
  /* height: 30px; */
  transform: scale(0.8);
  filter: grayscale(80%);
  /* padding: 5px; */
}
.patternimg {
  width: 100%;
  display: flex;
  justify-content: end;
}
.our-partner-slider .subtraction3 {
  position: absolute;
  top: 16px;
  /* left: 81rem; */
  width: 290px;
  height: 142px;
  /* opacity: 0.6; */
  z-index: 999;
  display: flex;
  justify-content: end;
}
.our-partner-slider .our-partner .swiper-slide-active img {
  opacity: 1;
  transform: scale(0.6);
  filter: grayscale(0);
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  object-fit: cover;
}
.our-partner-slider .our-partner img:hover {
  opacity: 1;
  filter: grayscale(0);
}
.about {
  position: relative;
  top: -1rem;
}
.about .content {
  padding: 0 40px;
  position: relative;
  top: -2rem;
}
.about .content h3 {
  font: normal normal 600 34px/60px "Outfit";
  letter-spacing: 0px;
  color: #080d42;
}
.about .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}
.about .content p {
  font-size: 15px;
  color: #848484;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li + li {
  margin-top: 15px;
}
.about .content ul li {
  position: relative;
  padding-left: 26px;
}
.about .content ul i {
  font-size: 20px;
  color: #ffb03b;
  position: absolute;
  left: 0;
  top: 2px;
}
.about .content p:last-child {
  margin-bottom: 0;
}
.about .video-box {
  background-image: url("../src/assests/business-software.png");
  border-radius: 1.3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 330px;
  position: relative;
}
.about .play-btn {
  width: 54px;
  height: 54px;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 27px);
  top: calc(50% - 38px);
  overflow: hidden;
}
.about .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.freeassets {
  text-align: center;
  font: normal normal 600 30px/38px "Outfit";
  letter-spacing: 0px;
  color: #ffc427 !important;
}
.menu-wrapper {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  object-fit: cover;
}
.menu-wrapper > p {
  width: 50%;
  margin-left: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
.menu-wrapper > h1 {
  text-align: center;
  font: normal normal 600 60px/68px "Outfit";
  letter-spacing: 0px;
  color: #080d42;
}
.menu-wrapper .card {
  background-color: white;
  box-shadow: -1px 2px 13px -9px rgba(0, 0, 0, 0.75);
  padding: 1.6rem;
  border-radius: 1rem;
  margin-top: 3rem;
  border: none;
  position: relative;
  height: 80%;
  /* max-height: max-content; */
}

.card-body {
  text-align: center !important;
}
.card-body i {
  font-size: 3rem;
}
.card-body h3 {
  text-align: center;
  font: normal normal 600 18px/40px "Outfit";
  letter-spacing: 0px;
  color: #080d42;
}

.menu-wrapper .card p {
  text-align: center;
  font: normal normal normal 16px/24px "Outfit";
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.5;
  width: auto;
}
.menu-wrapper .text-center {
  text-align: center;
  /* width: 100%; */
}
.testimonials-slider {
  background: #eeeeee70 url("../src/assests/Subtraction\ 5.svg") top left 430px
    no-repeat;
  border-radius: 3rem;
  background-size: 1000px;
  box-sizing: border-box;
  height: 500px;
  /* height: auto; */
  width: 70%;
  padding: 2rem;
  word-break: break-all;
}
.testimonials .swiper-slide {
  position: relative;
  top: 1rem;
  /* display: flex;
  flex-direction: column; */
}
.card .card-body .dotlottie-player {
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  height: 100px;
  width: 100px;
  transform: translate(-50%, -50%);
  /* z-index: -1; */
}
.card .card-body:hover .dotlottie-player {
  display: block;
}

.swiper-pagination {
  position: absolute;
  top: 1rem !important;
  left: -7rem !important;
}
.swiper-ourClients {
  width: 74%;
  overflow: hidden;
}

.header-btn {
  text-align: center;
  font: normal normal 600 11px/16px "Outfit" !important;
  letter-spacing: 0px;
  border-radius: 2px !important;
  color: #000000;
  padding: 0.6rem 0.7rem !important;
  margin-right: -1rem;
}
.header-btn:hover {
  background-color: #ffc427 !important ;
}
.header-btns:hover {
  background-color: white !important;
  border: none;
}
.text-size {
  font: normal normal 300 17px/21px "Outfit";
}
.btnPos {
  position: relative;
  top: 9rem;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  font: normal normal 600 12px/17px "Outfit";
  letter-spacing: 0px;
  color: #000000;
}
.review {
  color: #ffc427;
  font-weight: 400;
  font-size: 1.4rem;
}
.testimonial-content {
  transform: scale(0);
}

.menu-wrapper .card h3 span {
  background-color: var(--primary-color);
  width: 70px;
  height: 70px;
  display: inline-block;
  text-align: center;
  line-height: 70px;
  font-size: 40px;
  border-radius: 50%;
  margin-right: 20px;
}
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px;
  margin: 40px 10px;
  box-shadow: 2px 8px 14px -10px rgba(0, 0, 0, 0.75);
  background: white;
  /* min-height: 320px; */
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  /* opacity: 0.3; */
  transform: scale(0.8);
  text-align: start;
  height: 30vh;
  width: 70%;
}
.testimonials .arrow-img {
  text-align: end;
}
.testimonials .arrow-img img {
  width: 2rem;
  /* position: absolute; */
  /* left: 80%; */
  /* top: 20rem; */
}
.text-testimonial {
  font-size: 4.3rem;
  /* line-height: 2rem; */
  z-index: 9999;
  font-weight: 700;
  /* position: relative;
    left: 5rem; */
}
.text-testimon {
  font-size: 3.4rem;
  font-weight: 100;
  /* z-index: 999; */
  /* position: relative;
    left: 5rem; */
}
.section-header {
  /* position: relative; */
  /* left: 6rem; */
  z-index: 999;
}
.testimonials .testimonial-item .stars {
  margin-bottom: 15px;
}
.testimonials .testimonial-item .stars i {
  color: #ffc107;
  margin: 0 1px;
}
.testimonials .testimonial-item .testimonial-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}
.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}
.dateset {
  color: #ffc427;
  font-weight: 100;
}
.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}
.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #727171 !important;
  opacity: 1;
}
.testimonials .swiper-slide-active .testimonial-content {
  transform: scale(1);
  overflow-y: scroll;
}

.testimonials .swiper-slide-active .arrow-img img {
  transform: scale(1);
}
.testimonials .arrow-img img {
  transform: scale(0);
}
.testimonials .swiper-slide-active .testimonial-item {
  transform: scale(1);
  opacity: 1;
  height: 40vh;
  overflow: visible;
  position: relative;
}
.testimonial-text {
  /* position: relative;
  left: 12rem;
  top: 2.2rem; */
  width: 100%;
  padding: 1rem 5.3rem;
  display: flex;
  /* margin-left: 8rem; */
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
  color: #848484;
}
.mg {
  display: flex;
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #2d2d2d !important;
}
/* .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: orange;
  color:white !important; 
  border-radius: 0; 
} */
.features .nav-tabs {
  border: 1px solid #cecece;
  border-radius: 50px;
  padding: 0.5rem;
  font-weight: 300;
}
.features {
  position: relative;
  padding: 3.125rem 0;
}
.feature-img1 {
  position: relative;
  z-index: 2;
  width: 100%;
}
.feature-img2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  /* height: 100%; */
  z-index: 1;
}
.features .nav-link {
  border: 0;
  /* padding: 25px 20px; */
  color: rgb(3, 3, 3) !important;
  box-shadow: 5px 5px 25px rgba(var(--color-secondary-rgb), 0.15);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0s;
  cursor: pointer;
  height: 100%;
}
.features .nav-link i {
  font-size: 32px;
  line-height: 0;
}
.features .nav-link h5 {
  font-family: "Outfit";
  margin-top: 0.5rem;
  font-size: 0.7rem;
  font-weight: 900 !important;
}
.features .nav-link h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 0 0;
  color: var(--color-secondary);
}
.features .nav-link:hover {
  color: white;
}

.nav-tabs .nav-item.active .nav-link {
  background-color: #080d42;
  border-radius: 3rem;
  color: white !important;
}
.banner-title {
  font: normal normal bold 140px "Outfit";
  color: #ffffff;
  text-transform: uppercase;
}
.features .nav-link.active {
  transition: 0.3s;
  /* background: var(--color-secondary) linear-gradient(rgba(var(--color-primary-rgb), 0.95), rgba(var(--color-primary-rgb), 0.6)); */
  /* border-color: var(--color-primary); */
}
.features .nav-link.active h5 {
  color: var(--color-white);
  z-index: 999;
}
.features .nav-link.active i {
  color: var(--color-white) !important;
}
.features .tab-content {
  margin-top: 30px;
}
.features .tab-content h3 {
  margin-bottom: 2rem;
}
.features .tab-pane.active {
  -webkit-animation: fadeIn 0.5s ease-out;
  animation: fadeIn 0.5s ease-out;
}
.features .tab-pane h3 {
  font-weight: 600;
  font-size: 36px;
  font: normal normal 600 44px/30px "Outfit";
  letter-spacing: 0px;
  color: #080d42;
  color: var(--color-secondary);
}
.features .tab-pane ul {
  list-style: none;
  padding: 0;
}
.features .tab-pane ul li {
  padding-bottom: 10px;
}
.features .tab-pane ul i {
  font-size: 24px;
  margin-right: 4px;
  color: var(--color-primary);
}
.features .tab-pane p:last-child {
  margin-bottom: 0;
}
.fst-italic {
  width: 80%;
}
/* price section */
.price-container {
  background-color: #080d42;
  height: max-content;
  position: relative;
  /* z-index: -2; */
}
.pricing-cards h3 {
  font: normal normal 600 30px/40px "Outfit";
  letter-spacing: 0px;
  color: #080d42;
}
.price-content h2 {
  font: normal normal 600 50px/35px "Outfit";
  letter-spacing: 0px;
  color: #ffffff;
  /* z-index: 999 !important; */
}
.totalprice {
  color: #080d42 !important;
}
.price-content p {
  color: white;
}
.price-content > p {
  color: rgba(255, 255, 255, 0.727);
}
.price-content {
  color: white;
  text-align: center;
  width: 100%;
  padding: 12px;
  z-index: 2;
}
.price-content .card {
  max-height: 600px !important;
}
.pricing-cards {
  display: flex;
  /* justify-content: space-evenly; */
  text-align: center;
  justify-content: center;
}
.pricing-cards p {
  font: normal normal 300 15px/34px "Outfit";
  letter-spacing: 0px;
  list-style: -4px;
  color: #000000;
}
.pricing-cards .card {
  box-shadow: 0px 0px 26px #00000019;
  border-radius: 50px;
  width: 20rem;
  height: 92%;
  margin: 16px;
}

.subscription h5 {
  text-align: center;
  font: normal normal bold 15px/30px "Outfit";
  letter-spacing: 0px;
  color: #230a02;
}
.subscription {
  background: #f3f3f3 0% 0% no-repeat padding-box;
  border-radius: 4px;
  text-align: center;
  /* margin-top: -2rem; */
}
.subscription2 {
  background: #080d42 0% 0% no-repeat padding-box;
  border-radius: 4px;
  text-align: center;
  border-radius: 34px;
  position: relative;
  top: 1rem;
}
.subplan {
  text-align: center;
  font: normal normal normal 11px/13px "Outfit" !important;
  letter-spacing: 0px;
  color: #ffffff !important;
}
.subscription2 h5 {
  text-align: center;
  font: normal normal bold 15px/30px "Outfit";
  letter-spacing: 0px;
  color: #ffff;
}
.subscription-data {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  width: 200px;
  margin-left: 1rem;
  display: flex;
  margin: auto;
  /* padding: .6rem; */
  justify-content: space-around;
}
.subscription-data {
  background-color: white;
  display: flex;
}

.data2 {
  flex: 1;
  height: 130px;
}
.border1 {
  border-left: 1px solid #cccccc00;
  height: 80px;
  position: relative;
  top: 1rem;
  padding: 0.6rem;
}
.border2 {
  border-left: 1px solid #ccc;
  height: 80px;
  position: relative;
  top: 1rem;
  padding: 0.6rem;
}
.data1 {
  flex: 1;
}
.data1 p {
  font-size: 0.9rem !important;
}
.data2 p {
  font-size: 0.8rem !important;
}
.Unlimited {
  margin: 0;
}
/* .data2 {
  border-left: 1px solid #4f529c8d;
  margin: auto;
  height: 70px;
} */

.Unlimited {
  text-align: center;
  font: normal normal 600 28px/35px "Outfit";
  letter-spacing: 0px;
  color: #230a02 !important;
}

/* SUbscription plans */
.subscription-plans > h1 {
  text-align: center;
  font: normal normal 600 50px/58px "Outfit";
  letter-spacing: 0px;
  color: #ffffff;
}
.subscription-plans > p {
  text-align: center;
  font: normal normal 300 14px/20px "Outfit";
  letter-spacing: 0px;
  color: #ffffff;
}
.subscription-plans {
  padding: 5px;
  flex-wrap: wrap;
}
.subscription-plans .card {
  border-radius: 20px;
  margin-right: -1rem;
  height: 370px;
  width: 180px;
  text-align: center;
  padding: 0;
}

.card .headtext {
  background: #ffc427 no-repeat;
  box-shadow: 0px 0px 26px #00000019;
  border-radius: 20px 20px 0px 0px;
  position: absolute;
  top: -0.8px;
  left: -0.8px;
  width: 180px;
}
.card .headtexts {
  background: linear-gradient(
    90deg,
    #0088c1,
    #0088c1
  ); /* Rotate background color by 180 degrees */
  box-shadow: 0px 0px 26px #00000019;
  border-radius: 20px 20px 0px 0px;
  position: absolute;
  top: -0.8px;
  left: -0.8px;
  width: 180px;
  clip-path: polygon(0 0, 100% 0, 100% 58%, 0 32%);
  height: 40vh;
}
.headtext p {
  font: normal normal 600 12px/23px "Outfit";
  letter-spacing: 0px;
  color: #080d42;
  margin-bottom: -4px;
}
.headtexts p {
  font: normal normal 600 12px/23px Outfit;
  letter-spacing: 0px;
  color: #ffffffd2;
  margin-bottom: -4px;
}
.headtext h4 {
  font: normal normal 600 32px/43px "Outfit";
  letter-spacing: 0px;
  color: #080d42;
  margin-bottom: -4px;
}
.headtexts h4 {
  font: normal normal 600 32px/43px "Outfit";
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: -4px;
}
.subscription-text {
  position: absolute;
  top: 8rem;
}
.subscription-plans .cards {
  background: linear-gradient(#53cde2 0%, #1a79af 100%);
  box-shadow: 0px 0px 26px #00000019;
  border-radius: 20px;
}
.subscription-text p {
  font: normal normal 300 15px/23px "Outfit";
  letter-spacing: 0px;
  color: #000000 !important;
}
.subscription-texts {
  position: absolute;
  top: 12rem;
  color: white;
  left: 2rem;
}
.subscription-texts > p {
  font: normal normal 300 15px/23px "Outfit";
  letter-spacing: 0px;
  color: #ffffff84;
}
.subscription-text > h5 {
  font: normal normal 600 12px/24px "Outfit";
  letter-spacing: 0px;
  color: #000000;
  margin-top: -10px;
}
.subscription-texts > h5 {
  font: normal normal 600 12px/24px "Outfit";
  letter-spacing: 0px;
  color: #ffffffbd;
  margin-top: -10px;
}
.subscription-texts h5:nth-child(3) {
  font: normal normal 600 30px/40px "Outfit";
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
}

.line-with-text {
  position: relative;
  text-align: center;
  line-height: 1.5;
  margin-top: 12px;
}

.line-with-text::before,
.line-with-text::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  border-top: 2px solid #7878784f;
}

.line-with-text span {
  padding: 1px 3px;
  background: #080d42;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  width: 10px;
  height: 6px;
  font-size: 0.6rem;
  color: white !important;
}
.subscription-text .assettags {
  font: normal normal 300 15px/23px "Outfit";
  letter-spacing: 0px;
  color: #000000 !important;
}
.subscription-text .btn-tags {
  background: #080d42 0% 0% no-repeat padding-box;
  border-radius: 29px;
  font: normal normal 600 11px/17px "Outfit";
  letter-spacing: 0px;
  padding: 0.5rem 1.5rem;
  color: #ffffff;
  border: none;
  margin-bottom: 1rem;
  z-index: 1000 !important;
}
.subscription-text .btn-tags:hover {
  background: #ffc427;
}

.faq::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #faf9fe;
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 16% 100%);
  z-index: -1;
}
.faq .half-circle-bg {
  background: #faf9fe;
  clip-path: circle(50% at 50% 100%);
  width: 30%;
  height: 30%;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: -1;
}
.faq {
  position: relative;
  width: 100%;
  z-index: 1;
  padding: 3.125rem 0;
}
.btn:focus,
input,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}
.faq .content h3 {
  font-weight: 400;
  font-size: 34px;
  color: var(--color-secondary);
}
.faq .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}
.faq .content p {
  font-size: 15px;
  color: var(--color-gray);
}
.accordion-item.active {
  border-left-color: rgb(255, 200, 0) !important;
}
.faq .accordion-item {
  border: 0;
  margin-top: 7px;
  box-shadow: 0px 10px 50px #07070714 !important;
  border-left: 3px solid rgba(203, 203, 203, 0.661);
}
.faq .accordion-collapse {
  border: 0;
}
.faq .accordion-button {
  padding: 15px 40px 20px 60px;
  border: 0;
  text-align: left;
  background: var(--color-white);
  box-shadow: none;
  border-radius: 5px;
  font: normal normal normal 16px/20px "Outfit";
  letter-spacing: 0px;
  color: #0d0c1a;
}

.faq .accordion-button:not(.collapsed) {
  color: var(--color-primary);
  border-bottom: 0;
  box-shadow: none;
}
.faq .question-icon {
  position: absolute;
  top: 14px;
  left: 25px;
  font-size: 20px;
  color: var(--color-primary);
}
.faq .accordion-button:after {
  position: absolute;
  right: 15px;
  top: 15px;
  color: var(--color-primary);
}
.faq .accordion-body {
  padding: 0 30px 25px 60px;
  border: 0;
  border-radius: 5px;
  background: var(--color-white);
  box-shadow: none;
  font: normal normal normal 16px/24px "Outfit";
  letter-spacing: 0px;
  color: #0d0c1a;
}
.accordion-header {
  font: normal normal 600 16px/20px "Outfit";
  letter-spacing: 0px;
  color: #080d42;
}
.accordion-item.active {
  border-left-color: rgb(255, 200, 0);
}

.contact-form {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 26px #0000001a;
  border-radius: 31px;
  padding: 1.6rem;
  /* height: 50vh; */
}
.contact-form > h5 {
  font: normal normal 600 18px/28px "Outfit" !important;
  letter-spacing: 0px;
  color: #000000 !important;
}
.contact-form .form-group ::placeholder {
  font: normal normal normal 13px/11px "Outfit";
  letter-spacing: 0px;
  color: #0d0c1a;
  opacity: 0.62;
}
.contact-form .custom-placeholder ::placeholder {
  position: absolute;
  left: 0.7rem;
  top: 0.7rem;
}
text {
  resize: none !important;
}
.container form {
  background-color: white;
  color: #888888;
  text-align: left;
  padding-top: 20px;
}

.container label {
  display: none;
}
.lottie-wrapper {
  height: 500px;
  margin-top: -90px;
}
.container input {
  /* to create space for placing icon*/
  padding-left: 32px;
  border-color: transparent;
  background: #fafafa 0% 0% no-repeat padding-box;
  border: 1px solid rgba(215, 215, 215, 0.704);
  border-radius: 4px;
}
.container textarea {
  padding-left: 11px;
  resize: none;
  outline: none !important;
  border-color: transparent;
  background: #fafafa 0% 0% no-repeat padding-box;
  border: 1px solid rgba(215, 215, 215, 0.704);
  border-radius: 4px;
}
.container .btn-default {
  margin-top: 5px;
  margin-bottom: 30px;
  padding: 15px 36px;
  background-color: #675902;
  border-radius: 0px;
  border: 0px;
  color: #f1f1f1;
}

.container .btn-default:hover,
.container .btn-default:focus {
  background-color: #049ddf;
  color: #f1f1f1;
  border-color: transparent;
  outline: 0px auto -webkit-focus-ring-color;
}
.features a.nav-link.active {
  background-color: #080d42 !important;
  border-radius: 30px;
  color: white !important;
}
/*position should be relative and z-index greater than one*/
.contact-form .form-group .icon {
  position: relative;
  float: left;
  margin-left: 8px;
  margin-top: -24px;
  z-index: 2;
  color: #222222;
  font-size: 3rem !important;
  width: 15px;
}
.form-group {
  margin-bottom: 0.6rem;
}

.container .icon-textarea {
  float: left;
  margin-left: 8px;
  margin-top: -104px;
  position: relative;
  z-index: 2;
  color: #222222;
}
/* footer */
#footer {
  background: #080d42 url("../src/assests/Rectangle\ 24.png") 0% 0% no-repeat
    padding-box;
  /* opacity: 0.04; */
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 10px;
}
#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #ffb03b;
  position: relative;
  padding: 0;
  /* margin: 0 0 15px 0; */
}
#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  /* margin: 0 0 40px 0; */
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  color: #fff;
  /* line-height: ; */
  /* padding: 8px 0; */
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.footer .footer-logo {
  position: relative !important;
  top: 2rem !important;
}

.navbar-nav .nav-link:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.641);
}
.navbar-nav a.nav-link.active {
  color: white;
}
.navbar-nav .nav-link {
  border-bottom: 1px solid transparent; /* Set initial border color to transparent */
  transition: border-bottom 0.3s ease; /* Add a smooth transition effect */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 991px) {
  .lottie-wrapper {
    height: 400px !important;
    margin-top: -80px;
  }
  .our-partner .swiper-ourClients {
    position: relative;
    top: -30px !important;
  }
}
@media (max-width: 1200px) {
  .lottie-wrapper {
    height: 400px;
    margin-top: -70px;
  }
  .our-partner-slider .subtraction3 {
    display: none;
  }
}
@media (max-width: 768px) {
  .banner-wrapper .header-img-section img {
    width: 300px;
  }
  .menu-wrapper > h1 {
    font-size: 2.3rem;
  }
  .our-partner .text-size {
    text-align: center;
  }
  .our-partner .font-set {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
  }
  .our-partner .shows {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .section-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  .banner-wrapper .content-row {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .banner-wrapper .banner-subtitle {
    width: 100%;
    font-size: 2.2rem !important;
  }
}
@media (max-width: 992px) {
  .our-partner-slider .patternimg img {
    display: none;
  }
  .banner-wrapper .banner-content .bannerimg {
    width: 300px !important;
  }
}

::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-track {
  background-color: initial;
}

::-webkit-scrollbar-thumb {
  background-color: initial;
}

/* @media (max-width:375px){
  .price-container .subscription{
    background-color: green ;
    font-size: 5rem !important;
  }
} */
@media (max-width: 991px) {
  .testimonials .review-content {
    display: block;
  }
  .testimonials .btnPos {
    position: relative;
    top: 0;
    left: 0;
  }
  .testimonials .text-testimon {
    font-size: 2.1rem;
  }
  .testimonials .text-testimonial {
    font-size: 2.8rem;
  }
  .testimonials .testimonial-content {
    overflow-y: scroll;
  }
  .testimonials .swiper-pagination {
    position: relative !important;
    top: 8rem !important;
    left: 2rem;
    z-index: -1;
  }
  .testimonials .testimonial-text {
    /* position: relative;
  left: 2rem;
  top: 2.2rem; */
    /* text-wrap: wrap; */
    width: 100%;
    /* margin: auto; */
    /* text-align: start; */
    color: #848484;
  }
}
@media (max-width: 1200px) {
  .testimonials .swiper-slide {
    position: relative;
    top: 1rem;
    display: flex;
    justify-content: center;
  }
  .testimonials .review-content {
    display: block;
  }
  .our-partner .text-size {
    text-align: center;
  }
  .our-partner .font-set {
    display: flex;
    align-items: center;
    text-align: center;
    display: block;
    justify-content: center;
    /* background-color: #0088c1; */
    width: 100%;
  }
}
@media (max-width: 576px) {
  .our-partner .shows {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .our-partner .swiper-ourClients {
    margin-top: -0px !important;
    margin-left: -20px !important;
  }
  .subscription-plans .subscription-plans-row {
    position: relative;
    left: 30%;
  }
  .banner-wrapper .content-row {
    position: relative;
    top: -3rem;
  }
  .our-partner .text-size {
    text-align: center;
  }

  .our-partner .swiper-slide {
    width: 100% !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .price-content > h2 {
    font-size: 30px;
  }
}
@media (max-width: 1071px) {
  .header-btn {
    padding: 0.3rem 0.4rem;
    margin-right: 0.2px;
    font-size: 0.8rem;
  }
}
@media (max-width: 1200px) {
  .our-partner .font-set {
    font-size: 2rem !important;
    /* width: 50%; */
  }
  .header-wrapper .nav-link {
    font-size: 10px !important;
  }
  .banner-wrapper .banner-subtitle {
    font-size: 2.3rem !important;
  }
}
@media (max-width: 576px) {
  .banner-wrapper .banner-content .row {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1199px) {
  .testimonials .swiper-slide-active {
    opacity: 1;
  }
  .testimonials .swiper-pagination {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .testimonials .swiper-slide-next {
    opacity: 1;
    transform: scale(1.12);
  }
}

@media (max-width: 1024px) {
  .about .content,
  .about .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 992px) {
  .about .content {
    padding-top: 30px;
  }
  .about .accordion-list {
    padding-bottom: 30px;
  }
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
@media (max-width: 576px) {
  .price-container .pricing-cards {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 991px) {
  section {
    padding: 1.875rem 0;
  }
  .header-scrolled {
    height: auto;
  }

  @media (max-width: 992px) {
    .banner-wrapper .arrow {
      display: none;
    }
    .banner-wrapper .pattern {
      display: none;
    }

    /* .banner-wrapper .banner-content{
      position: absolute;
      top: 3rem;
      text-align: center ;
      width: 100%;
      left: 5rem;
    } */
  }
  .header-wrapper .menu-navbar-nav {
    text-align: center;
    background-color: var(--bg-dark-blue);
    padding-bottom: 0.9375rem;
    color: black;
  }

  .header-wrapper .nav-item .nav-link {
    margin-top: 0.9375rem;
    color: black;
  }

  /* .banner-wrapper {
    height: 25.625rem;
  } */
}
@media (max-width: 1300px) {
  .banner-subtitle {
    font-size: 3rem !important;
  }
}
@media (max-width: 1230px) {
  .header-wrapper .nav-item {
    margin: 0 5px;
  }
  .banner-subtitle {
    font-size: 3rem;
  }
  .header-wrapper .learn-more-btn {
    padding: 12px 10px !important;
  }

  /* 3 Banner */
  .banner-wrapper .banner-title {
    font-size: 50px;
  }
}

@media (max-width: 1070px) {
  /* 2 Navbar */
  .header-wrapper .nav-item .nav-link {
    font-size: 16px;
  }

  /* 5 About */
  .about_wrapper .about_title {
    font-size: 30px;
  }
}

@media (max-width: 991px) {
  /* 2 Navbar */
  .header-wrapper .navbar-brand img {
    width: 180px;
  }
  .banner-subtitle {
    font-size: 2rem;
  }
  .header-wrapper .navbar-toggler:focus {
    box-shadow: none;
  }
  .header-wrapper .menu-navbar-nav {
    text-align: center;
  }
  .header-wrapper .nav-item .nav-link {
    margin-top: 15px;
    font-size: 18px;
  }
  .header-wrapper .nav-item:last-child .nav-link {
    margin-bottom: 20px;
  }
  .header-wrapper .navbar-collapse {
    background: var(--bg-white);
  }
  .banner-wrapper .banner-title {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  /* 3 Banner */
  .banner-wrapper {
    padding: 100px 0 100px;
  }
  .banner-wrapper .row {
    flex-direction: column-reverse;
  }
  /* .banner-wrapper {
    position: relative;
    top: 0rem;
    height: 100vh;
  } */
}

@media (min-width: 768px) {
  .banner-subtitle {
    font-size: 24px;
  }

  .banner-title {
    font-size: 48px;
  }

  .banner-title-text {
    font-size: 15px;
  }

  .header-img-section {
    text-align: center;
  }

  .arrow {
    display: block;
    margin-top: 30px;
  }
}
.background-image {
  position: absolute;
  z-index: 1;
  width: 23%;
  top: 0;
  right: 29rem;
}

@media (max-width: 768px) {
  .background-image {
    width: 50%;
    right: 50%;
    transform: translateX(50%);
    height: 600px;
  }

  .our-partner .text-size {
    font-size: 0.9rem !important;
    margin-left: -5px !important;
  }
  .banner-wrapper .banner-content {
    position: relative;
    top: -5rem;
  }
}
@media (max-width: 1200px) {
  .background-image {
    display: none;
  }
  .our-partner .text-size {
    font-size: 0.9rem;
    margin-left: -8px !important;
  }
}
@media (max-width: 367px) {
  .about .content > h3 {
    font-size: 1.6rem !important;
  }
  .banner-wrapper .banner-subtitle {
    font-size: 1.7rem !important;
  }
}
@media (max-width: 310px) {
  .tab-content h3 {
    font-size: 1.5rem !important;
  }
  .subscription-plans > h1 {
    font: normal normal 600 23px/32px "Outfit";
  }
}
@media (max-width: 450px) {
  .features .tab-row {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    text-align: center;
  }
  .faq-text {
    font-size: 1.2rem !important;
    text-align: center;
  }
  .subscription-plans .container {
    display: flex;
    /* width: 100%; */
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .testimonials .dateset {
    font-size: 0.7rem !important;
  }
  .subscription-plans {
    align-items: center;
    display: flex;
  }
}
@media (max-width: 990px) {
  .testimonials .section-header .bullets {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1rem;
    left: 6rem;
    text-align: center;
  }
}
